body {
    background-color: #8cab5a;
    font-family: Comic Sans MS;
    margin: 0;
    padding: 0;
}

/* NAVBAR */

nav {
    background-color: #5d7c34;
    padding: 20px;
    text-align: center;
}

nav a {
    background-color: gray;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid black;
}

nav a:hover {
    background-color: lightgray;
}

/* TITLE */

.title-back {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}
.title-box {
    width: 70%;
    margin: 30px auto;
    background-color: gray;
    border: 3px solid black;
    text-align: center;
    font-size: 60px;
    color: darkgreen;
    padding: 20px;
    font-weight: bold;
    font-family: fantasy;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title-logo {
    width: 100px;
    height: 100px;
}

.feaImg{
    height: 100%;
    width: 100%;
}

/* MAIN IMAGE */

#mainpic {
    width: 50%;
    height: 300px;
    border: 3px solid black;
    margin: 40px auto 0 auto;
    display: block;
    object-fit: cover;
}

/* PLAY BUTTON */

.play-button {
    text-align: center;
    margin-top: 40px;
    
}

.play-button button {
    font-size: 40px;
    padding: 20px 50px;
    background-color: #b7d67d;
    border: 3px solid black;
}

/* BOXES */

.box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.info-box {
    width: 300px;
    height: 220px;
    border: 3px solid black;
    background-color: #a6c774;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.biome-carousel {
    width: 300px;
    margin: auto;
    background-color: #a6c774;
}

.biome-carousel img {
    height: 200px;
    object-fit: cover;
}

#play-logo{
    width: 80px;
    height: 80px;
}

/* FOOTER */

footer {
    background-color: darkgreen;
    color: black;
    margin-top: 60px;
    padding: 20px;
    font-size: 30px;
}
